<template>
  <div class="main">
    <section class="text-display">
      <div class="text-side">
        <div class="title-text">
          <h3>Input</h3>
        </div>
        <textarea class="text-input" v-model="input"/>
      </div>
      <hr class="vertical">
      <div class="text-side">
        <div class="title-text">
          <h3>Output</h3>
        </div>
        <p class="text-output">
          {{ output }}
        </p>
      </div>
    </section>
    <section>
      <h3>Shift</h3>
      <input type="range" v-model.number="shift" max="25" min="0" class="slider"/>
      <p>{{ shift }}</p>
    </section>
    <footer>
      <img src="https://about.gitlab.com/images/press/logo/wm.svg" class="source-link" @click="open('https://gitlab.com/Skindrop/ceaser-cipher')" alt="See On GitLab">
    </footer>
  </div>
</template>

<script>

export default {
  name: 'Main',
  data() {
    return {
      input: 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz',
      shift: 13,
    };
  },
  computed: {
    output() {
      return this.input.split('')
        .map((letter) => {
          const charCode = letter.charCodeAt();
          if (charCode > 64 && charCode < 91) { // Between A-Z
            return String.fromCharCode((((charCode - 65) + this.shift) % 26) + 65);
          }

          if (charCode > 96 && charCode < 123) { // Between a-z
            return String.fromCharCode((((charCode - 97) + this.shift) % 26) + 97);
          }

          return letter; // all other characters
        })
        .join('');
    },
  },
  methods: {
    open(url) {
      window.open(url);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .title-text {
    font-weight: bold;
    font-size: 2.5rem;
    height: 100px;
    max-height: 100px;
    margin-bottom: 50px;
  }

  .main {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
  }

  .vertical {
    border: none;
    border-left: 1px solid black;
    height: 100%;
    width: 1px;
    margin: 0px 30px;
  }

  .text-display {
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 100%;
    justify-content: center;
  }
  .text-input {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    border: none;
  }

  .text-output {
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;
    word-wrap: break-word;
  }

  .text-side {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .slider {
    -webkit-appearance: none;
    width: 60%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #2c3e50;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #2c3e50;
    cursor: pointer;
  }

  .source-link {
    margin-top: 250px;
    border-radius: 20px;
    width: 200px;
  }

  .source-link:hover {
    cursor: pointer;
  }
</style>
